@import "typography.css";
@import "colors.css";
@import "font.css";
@import "spacing.css";
  
body {
    font-size: var(--text-base-size);
    font-family: OPEN_SANS_FAMILY;
    color: var(--color-text);
    line-height: var(--body-line-height);
    .color-text-warning {
        color: var(--color-text-warning);
    }
}

h1, h2, h3, h4, form legend {
    color: var(--color-text-heading);
    margin-bottom: var(--space-xxs);
    line-height: var(--heading-line-height);
}

button,
fieldset,
input,
legend,
select,
textarea {
    /* "turn off" all default browser styles. */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input {
    outline-color: #151515;
    --tw-bg-opacity: 1;
    background-color: rgb(240 240 240 / var(--tw-bg-opacity));
    border-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    box-sizing: border-box;
    border-style: solid;
    width: 100%;
    height: 48px;
    padding: 0 0 0 16px;
    border-radius: 0.75rem;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: safe center;
    align-items: center;
}

.container-h3 {
    padding-left: 1rem;
    padding-right: 2.5rem;
    top: 0.25rem;
    align-items: center;
    height: 2.5rem;
    left: 0.25rem;
    margin: 0 0 0 0;
    position: absolute;
}

.create-account-div {
    width: 500px;
    position: relative;
}

.yourid-label-username, .yourid-label-username-taken, .create-account-input-invalid  {
    display: none;
}

.create-account-input {
    padding-left: 169px;
}
